.nest-wrapper {
  display: flex;
  flex-direction: column;
}

.nest-group {
  padding: 0 15px 15px 15px;
  background: #69c0ff;
  margin-bottom: 10px;
}

.nest-group-title {
  font-size: 16px;
  line-height: 30px;
}

.nest-item {
  width: 100%;
  height: 40px;
  background: #ffc069;
  border: solid 1px #69c0ff;
  z-index: -1;
}